# 01.intro

## shortcut

- ctrl + enter : 현재 셀 실행
- shitft + enter : 현재 셀 실행 & 아래로 이동
- alt + enter : 현재 셀 실행 & 아래에 새로운 셀 추가
- esc & m : 현재 셀을 markdown으로 바꾸기

## 주의사항

1. Apple / apple : 대소문자
2. git add. / git add . : 띄어쓰기
3. message / massage : 오타

# 01.변수
```
var_name = value
```

- 변수이름은 어떤 이름이든 사용가능
- 다만 영어, 숫자, _를 이용해서 변수선언
- 키워드는 불가능

In [7]:
a = 100

In [9]:
a

100

In [10]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

# 1.1 number

In [11]:
a = 10000

In [13]:
a

10000

In [14]:
type(a) # 유형확인
#int : 정수

int

In [15]:
b = 1.1

In [16]:
b

1.1

In [17]:
type(b) 
# float : 소수

float

In [18]:
c = 1 + 1j

In [19]:
c

(1+1j)

In [20]:
type(c)
#complex : 복합

complex

## 1.2 boolean

In [23]:
a = True

In [24]:
a

True

In [25]:
type(a)
#bool : 참, 거짓

bool

In [26]:
b = False

In [27]:
b

False

## 1.3 string
- `'`, `"`를 이용하여 표현

In [28]:
a = 'hello'

In [29]:
b = "hi"

In [30]:
a

'hello'

In [31]:
b

'hi'

In [36]:
print("hello my name is 'dahee'")

hello my name is 'dahee'

In [37]:
print('hello my name is \'dahee\'')

hello my name is 'dahee'

In [38]:
print('hello\n my name is "dahee"')

hello
 my name is "dahee"

In [39]:
a = '''
hello
world
hi
'''

In [40]:
a

'\nhello\nworld\nhi\n'

In [42]:
a = 10
b = '홍길동은 a살입니다.'

### string interpolation

- %-formatting
- str.format()
- f-string

In [43]:
age = 10

In [45]:
print('홍길동은 %s살입니다.' % age)

홍길동은 10살입니다.

In [46]:
print('홍길동은 {}살입니다.'.format(age))

홍길동은 10살입니다.

In [47]:
print(f'홍길동은 {age}살입니다.')

홍길동은 10살입니다.

# 02.연산자

## 2.1산술연산자

In [52]:
a = 5
b = 2

In [51]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)

7
-3
10
0.4

In [54]:
print(a ** b) # ** : 제곱수
print(a // b) # // : 나눗셈을 한 후 몫 표시
print(a % b) # % : 나눗셈을 한 후 나머지 표시

25
2
1

In [55]:
result = divmod(a, b) # divmod : a를 b로 나누는 도구로 몫, 나머지 모두 표시 / 산술연산자 아님
print(result)

(2, 1)

# 2.2 비교연산자

In [56]:
a = 5
b = 10

In [58]:
print(a > b) # >는 물음표의 역할, a가 b보다 큰가요? 크면 True/작으면 False
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True

In [60]:
print(a == b) # == : a와 b가 같나요?
print(a != b) # != : a와 b가 같지않나요?

False
True

In [61]:
print('hi' == 'hi')
print('hi' == 'Hi') #대소문자 차이

True
False

## 2.3 논리연산자
- and : 양쪽 모두 True일 때, True 반환
- or : 양쪽 모두 False일 때, False 반환 / 둘 중 하나라도 True면 True 반환
- not : 현재 상태를 부정

In [65]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [66]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [67]:
a = True
print(not a)

False

In [70]:
# 단축평가
# print(a and b) : a가 True이면 b 반환, a가 False이면 a반환
print(3 and 5)
print(3 and 0)
print(0 and 5)
print(0 and 0)

5
0
0
0

In [71]:
# print(a or b) : a가 True이면 a 반환, a가 False이면 b반환
print(3 or 5)
print(3 or 0)
print(0 or 5)
print(0 or 0)

3
3
5
0

## 2.4 복합연산자

In [72]:
a = 2
b = 3

In [75]:
a = a + b
a = a - b
a = a * b
a = a / b

In [76]:
a += b # 위의 식과 같음
a -= b
a *= b
a /= b
a //= b
a %= b
a **= b

In [74]:
a

5

## 2.5 기타연산자

In [77]:
a = 'hi'
b = 'hello'

In [79]:
# concatenation : 연결
# a가 글자면 +를 연결로 인식, 숫자면 +를 더하기로 인식
# a와 b가 같은 유형이여야함
print(a + b)

hihello

In [80]:
# [] : 리스트
a = [1, 2, 3]
b = [2, 3, 4]

In [81]:
print(a + b)

[1, 2, 3, 2, 3, 4]

In [83]:
print(1 in a) # 1이 a에 포함되어 있나요?
print(10 in a)

True
False

In [88]:
a = 100
b = 100

In [89]:
print(a == b) 
print(a is b) # a가 b인가요?
# == : a와 b의 값이 같은지, is : a와 b가 본질적으로 같은 객체인지
# -5부터 256까지의 숫자는 자주 쓰는 숫자여서 같은 위치에 있으므로 True라고 나옴

True
True

### 연산자 우선순위
 0. ()를 통ㅇ해서 그룹
 1. **
 2. 산술연산자(*, /)
 3. 산술연산자(+, -)
 4. 비교연산자(>, <, >=, <=), in, is
 5. not
 6. and
 7. or

In [90]:
print(-3 ** 4)
print((-3) ** 4)

-81
81

# 3. 형변환

## 3.1 암시적 형변환

In [91]:
a = True # 1
b = False # 0
c = 1

In [93]:
print(a + b) # 1 + 0
print(a + c) # 1 + 1

1
2

## 3.2 명시적 형변환
- int() : 정수
- float() : 소수
- str() : 문자
- bool() : 참, 거짓

In [101]:
a = 1
b = '반'

In [102]:
print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [104]:
print(str(a) + b)

1반

In [109]:
a = '3'
print(a)
print(type(a))

b = int(a)
print(b)
print(type(b))

3
<class 'str'>
3
<class 'int'>

In [110]:
c = 'apple'
d = int(c) # 문자형을 숫자형으로 바꿀 수는 없음

ValueError: invalid literal for int() with base 10: 'apple'

In [116]:
a = 1
b = 0
c = -123
print(bool(a))
print(bool(b))
print(bool(c))
# 0만 False, 0이 아닌 나머지(음수포함)는 True

True
False
True

In [118]:
print(bool([])) #집합체에 데이터가 없으면 False반환
print(bool([1, 2, 3]))

False
True

In [1]:
1 < 2
5 == 1
1 > 2
# 셀의 마지막 값을 자동으로 output으로 출력, 마지막 셀만 출력

False

In [2]:
print(1 > 2)
print(3 < 5)
print(1 == 3)

False
True
False

# 4. 시퀀스 자료형

- 시퀀스는 데이터에 **순서대로** 나열된 자료구조 (순서대로 나열되었다는 것은 정렬된 것과 다르다)

1. List
2. Tuple
3. Range
4. String

## 4.1 List (리스트, 배열)
- 선언 : `var_name = [value1, value2, value3, ...]`
- 접근 : `var_name[index]` , `[index]`는 숫자데이터 사용, 0부터 시작

In [2]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [10]:
location = ['서울', '대전', '부산']
print(location)
print(location[2])

location[1] = '대구'
print(location)

['서울', '대전', '부산']
부산
['서울', '대구', '부산']

## 4.2 Tuple(튜플)
- 선언 : `var_name = (value1, value2, value3, ...)`
- 접근 : `var_name[index]`
- 수정불가능(immutable)

In [12]:
location = ('서울', '대전', '대구')
print(location)
print(location[0])

('서울', '대전', '대구')
서울

In [14]:
location[2] = '부산' #튜플은 한번 만들어놓은 데이터는 바꿀 수 없다.

TypeError: 'tuple' object does not support item assignment

In [16]:
result = divmod(5, 2)
print(result)
print(type(result)) #유형이 튜플이 나오는 이유는 사용자가 임의로 변환하지 말라는 의미를 담고 있음

(2, 1)
<class 'tuple'>

In [17]:
x = 1
y = 2

(x, y) = (y, x)
print(x, y)

2 1

## 4.3 Range
- `range(n)` : 0부터 n-1까지 범위
- `range(n, m)` : n부터 m-1까지 범위
- `range(n, m, s)` : n부터 m-1까지 s만큼 증가하는 범위

In [19]:
lotto = range(45)
print(lotto)
print(list(lotto))

range(0, 45)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]

In [20]:
lotto = range(1, 46)
print(lotto)
print(list(lotto))

range(1, 46)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]

In [23]:
even = range(2, 21, 2) # even : 짝수
print(list(even))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [22]:
numbers = range(0, -20, -2)
print(list(numbers))

[0, -2, -4, -6, -8, -10, -12, -14, -16, -18]

## 4.4 String
- 기본 데이터 구조 참고

In [24]:
s = 'hi my name is yang'
# s = ['h', 'i', ' ', ..., 'g']

print(s[0])

h

## 4.5 시퀀스에서 활용가능한 연산/함수

In [25]:
my_list = ['a', 'b', 'c', 'd', 'e']
my_tuple = (6, 7, 8, 9, 10)
my_range = range(5)
my_string = '가나다라마'

In [27]:
# indexing
print(my_list[0])
print(my_tuple[0])
print(my_range[0])
print(my_string[0])

a
6
0
가

In [29]:
# slicing
# `var_name[index1:index2]` : `index1`부터 `index2`-1까지
print(my_list[2:5])
print(my_tuple[2:5])
print(my_range[2:5])
print(my_string[2:5])

['c', 'd', 'e']
(8, 9, 10)
range(2, 5)
다라마

In [33]:
# 인덱스 생략
print(my_list[0:]) #index2를 공백으로 놓으면 index1부터 끝까지 출력
print(my_list[3:]) 
print(my_list[:3]) #index1을 공배으로 놓으면 처음부터 index2-1까지 출력

['a', 'b', 'c', 'd', 'e']
['d', 'e']
['a', 'b', 'c']

In [35]:
# 음수 인덱스
print(my_list[-1])
print(my_list[-3:-1])

e
['c', 'd']

In [36]:
# step
print(my_list[::2]) #[:]은 전체 데이터를 의미, :2는 2의 간격으로 출력

['a', 'c', 'e']

In [39]:
# in
print(1 in my_list)
print('a' in my_list)

# not in
print('a' not in my_list)

False
True
False

In [42]:
# concatennation
print(my_list + [1, 2, 3, 4, 5]) #연결
print(my_tuple + (1, 2, 3))

['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5]
(6, 7, 8, 9, 10, 1, 2, 3)

In [45]:
# *
print(my_list * 2) #my_list를 2번 출력
print('a' * 5) #5번 연결

# [ 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
print([0] * 10)

['a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e']
aaaaa
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [47]:
# `len()` : 길이
len(my_list)

5

In [48]:
# `max()` : 가장 큰 값 출력(문자도 숫자로 바꿔서 큰 수 출력)
max(my_list)

'e'

In [50]:
# `min()` : 가장 작은 값 출력
min(my_list)

'a'

# 5. 시퀀스형이 아닌 자료구조

## 5.1 Set
- 수학에서의 집합과 비슷한 개념 (중복값 없음)
- 선언 : `var_name = {value1, value2, value3, ...}`
- 집합으로서 의미가 있으므로 단일데이터에 접근은 하지않음

In [54]:
my_set_a = {1, 2, 3, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5 #중복값이 없으므로 5를 한번만 출력
my_set_b = {1, 3, 5, 7, 9}

In [52]:
print(my_set_a)
print(my_set_b)

{1, 2, 3, 4, 5}
{1, 3, 5, 7, 9}

In [57]:
print(my_set_a - my_set_b) # - : 여집합(my_set_a와 my_set_b의 교집합을 뺀 나머지 값 출력)
print(my_set_a | my_set_b) # | :  합집합
print(my_set_a & my_set_b) # & : 교집합

{2, 4}
{1, 2, 3, 4, 5, 7, 9}
{1, 3, 5}

In [59]:
location = ['서울', '대전', '대구', '광주', '서울', '대전', '대구', '광주', '서울', '대전', '대구', '광주']
print(set(location))
# 중복값을 제거하고 set으로 형변환, 결과값의 순서는 랜덤으로 출력
# 중복값을 제거할 때 주로 사용

{'광주', '대구', '대전', '서울'}

## 5.2 Dictionary
- 선언 : `var_name = {key1: value1, key2: value2, key3: value3, ...}`
- 접근 : `var_name[key]`

In [62]:
#`key`값은 99% string이고 key 값을 기준으로 접근
my_dict = {'서울': '02', '경기': '031'}
print(my_dict['서울'])

02

In [90]:
my_info = {
    'name': 'dahee',
    'location': 'seoul',
    'age': 10,
    'skill': ['python', 'git']
}

In [91]:
print(my_info['name'])
print(my_info['age'])
print(my_info['skill'][1])

dahee
10
git

In [92]:
my_info = {
    'name': 'dahee',
    'location': {
        'seoul': 'kangnam'
    },
    'age': 10,
    'skill': ['python', 'git']
}
print(my_info['location']['seoul'])

kangnam

**데이터 타입**
1. Number
2. Boolean
3. String

**자료구조**
- 시퀀스
  1. [List] : mutable
  2. (Tuple) : immutable
  3. range() : immutable
  4. 'String' : immutable

- 시퀀스가 아닌 것
  1. {Set} : mutable
  2. {Dictionary} : mutable

In [84]:
# immutable : 인덱스로 일부분 수정 불가능
a = 'hello'
a[0] = 'H'

TypeError: 'str' object does not support item assignment