In [15]:
a = '집에'
b = '가고싶다.'
c = '저녁은'
d = '뭐먹지?'

In [16]:
print(a, b, c, d)
print(a + b + c + d)
print(a + ' ' + b + ' ' + c + ' ' + d)

집에 가고싶다. 저녁은 뭐먹지?
집에가고싶다.저녁은뭐먹지?
집에 가고싶다. 저녁은 뭐먹지?

In [22]:
age = 10
b = '홍길동은 {}살입니다.'
print(b.format(age))

홍길동은 10살입니다.

In [35]:
a = -5
b = -5

In [36]:
print(a is b)

True

In [37]:
print(3 and 6)
print(0 and 3)
print(5 and 0)

6
0
0

In [38]:
print(0 or 8)

8

In [54]:
a = 2
b = 3

In [55]:
a += b
a -= b
a **= b

In [56]:
a

8

In [77]:
a = [1, 2, 3]
b = [1, 2]

In [78]:
print(a + b)
print(a - b)

[1, 2, 3, 1, 2]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [80]:
print(a * 2)

[1, 2, 3, 1, 2, 3]