# 제어문

## 조건문 (if문)

1. if문은 반드시 참/거짓을 판단할 수 있는 '조건식'과 함께 사용한다.
   - `if <조건식>: `
2. `<조건식>` 참인 경우 : `:`이후의 문장을 실행
3. `<조건식>` 거짓인 경우 : `else:` 이후의 문장을 실행


```
if <조건식>:
    if의 조건식이 참인 경우 실행하는 코드
else:
    if의 조건식이 거짓인 경우 실행하는 코드
```

In [5]:
my_string = input()
print(my_string)

if my_string == '12/25':
    print('merry christmas!')
else:
    print('No')
# 들여쓰기 중요

 aaaa

aaaa
No

In [17]:
num = input('숫자를 입력해주세요') #input()에는 숫자를 넣어도 문자로 인식

if num % 2 == 1:
    print('odd')
else:
    print('even')

숫자를 입력해주세요 123

TypeError: not all arguments converted during string formatting

In [18]:
#조건식의 %를 string interpolation으로 인식하여 오류가 생기므로 int를 사용하여 숫자형으로 변환
num = input('숫자를 입력해주세요')

if int(num) % 2 == 1:
    print('odd')
else:
    print('even')

숫자를 입력해주세요 123

odd

In [13]:
num = int(input()) # input->int순서로 실행

if num % 2 == 1:
    print('odd')
else:
    print('even')

 123

odd

In [15]:
num = int(input())

if num % 2 == 0:
    print('even')
else:
    print('odd')

 10

even

In [19]:
num = int(input())

if num % 2:
    print('odd')
else:
    print('even')
# if문은 1을 True, 0을 False로 반환
# if가 참일 때 실행할 코드는 2로 나눴을 때 나머지가 1일 때이므로 print('odd')를 사용

 13

odd

In [21]:
num = int(input('5의 배수를 판단해드리겠습니다.'))

if num % 5 == 0:
    print('yes')
else:
    print('no')

5의 배수를 판단해드리겠습니다. 4

no

In [22]:
num = int(input(''))

if num % 5:
    print('no')
else:
    print('yes')

 5

yes

### elif

```
if <조건식>:
    if문이 참인 경우
elif <조건식>:
    elif문이 참인 경우
else:
    위의 모든 조건식이 거짓인 경우
```

In [29]:
score = int(input())

if score >= 90:
    print('A')
    if score >= 95:
        print('good!!')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
else:
    print('F')

 98

A
good!!

### 조건표현식
- `true_value if <조건식> else false_value`

In [32]:
a = 0

if True:
    a = 100
else:
    a = -100
print(a)

100

In [33]:
a = 100 if True else -100
print(a)

100

In [34]:
a = 100 if False else -100
print(a)

-100

In [36]:
num = int(input())

if num >= 0:
    result = num
else:
    result = 0
print(result)

 -1

0

In [45]:
num = int(input())

result = num if num >= 0 else 0
print(result)

 5

5

In [47]:
num = int(input())

result = num if (num >= 0) and (num % 2 == 1) else 0
print(result)

 6

0

In [41]:
num = 10

result = '홀수' if num % 2 else '짝수'
print(result)

짝수

In [44]:
num = 10

if num % 2:
    result = '홀수'
else:
    result = '짝수'
print(result)

짝수

## 반복문

### while문
- 조건식이 거짓이 될 때까지 반복실행
```
while <조건식>:
    실행할 코드
```

In [48]:
a = 0

while a < 5:
    print(a)
    a += 1
    # a = a + 1

0
1
2
3
4

### for문
- 정해진 범위 내의 반복
```
for var_name in sequence:
    code
```

In [50]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

1
2
3
4
5

In [51]:
word = 'apple'

for char in word:
    print(char)

a
p
p
l
e

In [52]:
# i는 integer의 약자
for i in range(5): #다섯번 반복
    print(i)

0
1
2
3
4

In [57]:
numbers = range(1, 51)

for number in numbers:
    if number % 5 == 0:
        print(number)

5
10
15
20
25
30
35
40
45
50

In [59]:
locations = ['서울', '대전', '부산']
for location in enumerate(locations): #enumerate : 각 값의 index값을 알려줌
    print(location)

(0, '서울')
(1, '대전')
(2, '부산')

In [60]:
locations = ['서울', '대전', '부산']
for (index, location) in enumerate(locations):
    print(index)
    print(location)

0
서울
1
대전
2
부산

### dictionary 반복
1. for key in dict:
2. for key in dict.keys():
3. for value in dict.values():
4. for key, value in dict.tiems():

In [61]:
info = {
    'name': 'gildong',
    'location': 'seoul',
    'phone': '010-1234-1234',
    'age': 20, # 뒤에 데이터가 더 들어올 때 ,를 빠트릴 실수를 방지하기 위해 사용
}

In [62]:
for k in info:
    print(k)

name
location
phone
age

In [64]:
for k in info.keys():
    print(k)
    print(info[k])

name
gildong
location
seoul
phone
010-1234-1234
age
20

In [65]:
for v in info.values():
    print(v)

gildong
seoul
010-1234-1234
20

In [66]:
for k, v in info.items():
    print(k, v)

#같은 의미의 코드, info를 한번 더 불렀냐의 차이
for k in info.keys():
    print(k, info[k])

name gildong
location seoul
phone 010-1234-1234
age 20

In [67]:
blood_type = {
    'A': 15,
    'B': 8, 
    'O': 5,
    'AB': 4,
}

In [70]:
# 혈액형은 ~가 있습니다.
print('혈액형 종류는 다음과 같습니다.')

for blood in blood_type:
    print(blood)

혈액형 종류는 다음과 같습니다.
A
B
O
AB

In [71]:
# 총 학생은 몇 명 입니다.
result = 0
for number in blood_type.values():
    result = result + number
print(result) # for문 안에 쓰면 안됨, for문 안에 쓰게되면 반복되어 값이 4개가 나옴

32

In [72]:
for k, v in blood_type.items():
    print(f'{k}형은 {v}명입니다.')

A형은 15명입니다.
B형은 8명입니다.
O형은 5명입니다.
AB형은 4명입니다.

### break
- 반복문을 종료 시키는 키워드
- 자기와 가장 가까이 있는 for문의 코드를 종료시킴

In [74]:
for i in range(100):
    print('여기는 for문', i)
    if i > 5:
        print('여기는 브레이크')
        break

여기는 for문 0
여기는 for문 1
여기는 for문 2
여기는 for문 3
여기는 for문 4
여기는 for문 5
여기는 for문 6
여기는 브레이크

In [75]:
while True: #계속 반복
    rice = input()
    if rice == '쌀':
        print('잡았다!!!')
        break

 보리
 보리
 보리
 쌀

잡았다!!!

### countinue

continue이후의 코드를 실행하지 않고 다음 반복을 진행

In [77]:
for i in range(20):
    if i % 2 == 1:
        continue
    print(i)

0
2
4
6
8
10
12
14
16
18

In [79]:
ages = [10, 20, 30, 23, 43, 9, 20]

for age in ages:
    if age < 20:
        continue
    print(f'{age}살은 성인입니다.')

20살은 성인입니다.
30살은 성인입니다.
23살은 성인입니다.
43살은 성인입니다.
20살은 성인입니다.

### else
- else문은 끝까지 반복된 경우 실행된다.
- break를 만나지 않은 경우 실행, break를 만나면 else문도 실행 안된다.

In [82]:
for i in range(10):
    if i > 5:
        break
    print(i)
else:
    print('모두 완료!')

0
1
2
3
4
5

In [83]:
for i in range(10):
    if i > 5:
        continue
    print(i)
else:
    print('모두 완료!')

0
1
2
3
4
5
모두 완료!