# if문

1. 사용자로부터 연도를 입력받아 해당 연도가 윤년인지 판별하는 프로그램 작성
- 윤년의 조건
    1. 4로 나누어 떨어지는 해는 윤년이다.
    2. 다만, 100으로 나누어 떨어지면 윤년이 아니다.
    3. 하지만 400으로 나누어떨어지면 다시 윤년이다.

In [31]:
year = int(input('연도를 입력하시오.'))

if year % 4 == 0:
    if (year % 100 == 0) and (year % 400 != 0):
        print(f'{year}년은 평년입니다.')
    elif year % 400 == 0:
        print(f'{year}년은 윤년입니다.')
    else:
        print(f'{year}년은 윤년입니다.')
else:
    print(f'{year}년은 평년입니다.')

연도를 입력하시오. 2024

2024년은 윤년입니다.

In [32]:
year = int(input())

if(year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f'{year}년은 윤년입니다.')
else:
    print(f'{year}년은 평년입니다.')

 2024

2024년은 윤년입니다.

2. 최댓값 찾기
- 세 개의 정수를 입력받아 가장 큰 값을 출력하는 프로그램을 작성하세요.

In [40]:
a = int(input())
b = int(input())
c = int(input())

num = max(a, b, c)
print(f'입력한 값 중 가장 큰 값은 {num}입니다.')

 3
 2
 3

입력한 값 중 가장 큰 값은 3입니다.

In [54]:
a = int(input())
b = int(input())
c = int(input())

max_num = a # 첫번째 숫자를 최대값으로 지정
if b > max_num:
    max_num = b
if c > max_num:
    max_num = c

print(f'입력한 값 중 가장 큰 값은 {max_num}입니다.')

 2
 3
 5

입력한 값 중 가장 큰 값은 3입니다.

3. 놀이공원 요금 계산기
- 사용자로부터 나이를 입력받아 놀이공원 요금을 계산하는 프로그램을 작성하세요.
    1. 3세 이하: 무료
    2. 4~12세: 5,000원
    3. 13~18세: 10,000원
    4. 19~64세: 15,000원
    5. 65세 이상: 무료

In [39]:
age = int(input('나이를 입력하시오'))

if (age <= 3) or (age >= 65):
    print('무료입니다.')
elif 4 <= age <= 12:
    print('5,000원 입니다.')
elif 13 <= age <= 18:
    print('10,000원 입니다.')
elif 19 <= age <= 64:
    print('15,000원 입니다.')

나이를 입력하시오 100

무료입니다.

# for문

1. 1부터 N까지의 합 구하기
- 사용자로부터 양의 정수 N을 입력받아, 1부터 N까지의 합을 출력하는 프로그램을 작성하세요.

In [21]:
N = int(input('양의 정수를 입력하시오.'))
num = range(1, N + 1)
result = 0

for number in num:
    result = result + number
    
print(f'1부터 {N}까지의 합은 {result}입니다.')

양의 정수를 입력하시오. 10

1부터 10까지의 합은 55입니다.

In [17]:
# 1부터 10까지의 합 구하기
num = range(1, 11)
result = 0

for number in num:
    result = result + number
    
print(f'1부터 10까지의 합은 {result}이다. ')

1부터 10까지의 합은 55이다.

2. 구구단 출력하기
- 사용자로부터 N을 입력받아 N단을 출력하는 프로그램을 작성하세요.

In [23]:
N = int(input('양의 정수를 입력하시오.'))
num = range(1, 10)

for number in num:
    result = number * N
    print(f'{number} * {N} = {result}')

양의 정수를 입력하시오. 5

1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45

3. 리스트 합 구하기
- 리스트 `numbers = [3, 7, 2, 9, 4]`의 모든 원소의 합을 for문을 사용하여 구하세요

In [25]:
numbers = [3, 7, 2, 9, 4]
result = 0

for number in numbers:
    result += number

print(f'리스트의 모든 원소의 합은 {result}이다.')

리스트의 모든 원소의 합은 25이다.

1. 별 찍기 - 삼각형 모양
- 사용자로부터 N을 입력받아 다음과 같은 삼각형을 출력하세요.

In [32]:
N = int(input('양의 정수를 입력하시오.'))
num = range(1, N + 1)

for i in num:
    print('*' * i)

양의 정수를 입력하시오. 5

*
**
***
****
*****

5. 짝수만 출력하기
- 리스트 `numbers = [10, 21, 33, 42, 55, 60, 77, 88]`에서 짝수만 출력하는 프로그램을 작성하세요.

In [35]:
numbers = [10, 21, 33, 42, 55, 60, 77, 88]

for number in numbers:
    if number % 2 == 0:
        print(number)

10
42
60
88

In [36]:
# 홀수만 출력
numbers = [10, 21, 33, 42, 55, 60, 77, 88]

for number in numbers:
    if number % 2:
        print(number)

21
33
55
77