## 양꼬치

In [1]:
# sol1
def solution(n, k):
    # n : 양꼬치 인분수 / k : 음료수 개수
    answer = 0

    if n >= 10:
        service = n // 10
        answer = n * 12000 + (k - service) * 2000
    else:
        answer = n * 12000 + k * 2000

    return answer

print(solution(10, 3))
print(solution(64, 6))

124000
768000

In [2]:
# sol2
def solution(n, k):
    # n : 양꼬치 인분수 / k : 음료수 개수
    answer = 0

    #         양꼬치총액    음료수 총액   서비스음료수가격
    answer = (n * 12000) + (k * 2000) - (n // 10 * 2000)

    return answer

print(solution(10, 3))
print(solution(64,6))

124000
768000

## 짝수의 합

In [3]:
# sol1
def solution(n):
    answer = 0

    for i in range(n+1):
        if i % 2 == 0:
            answer = answer + i
            # answer += 1

    return answer

print(solution(10))
print(solution(4))

30
6

In [5]:
# sol2
def solution(n):
    answer = 0

    for i in range(2, n+1, 2):
        answer += i

    return answer

print(solution(10))
print(solution(4))

30
6

## 숫자비교하기

In [7]:
def solution(num1, num2):
    answer = 0

    if num1 == num2:
        answer = 1
    else:
        answer = -1

    return answer

print(solution(2, 3))
print(solution(11, 11))
print(solution(7, 99))

-1
1
-1

## 배열의 평균값

In [8]:
# sol1
def solution(numbers):
    answer = 0

    total = 0
    i = 0

    for number in numbers:
        total = total + number
        i = i + 1

    answer = total / i

    return answer

print(solution([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]))
print(solution([89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]))

5.5
94.0

In [9]:
# sol2
def solution(numbers):
    answer = 0

    answer = sum(numbers) / len(numbers)

    return answer
print(solution([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]))
print(solution([89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]))

5.5
94.0

## 두수의 곱

In [15]:
def solution(num1, num2):
    answer = num1 * num2
    return answer

print(solution(3, 4))
print(solution(27, 19))

12
513

## 두수의 합

In [18]:
# sol1
def solution(num1, num2):
    answer = num1 + num2
    return answer

print(solution(5, 8))

print(solution(103, 298))

13
401

In [21]:
# sol2
def solution(numbers):
    answer = sum(numbers)
    return answer

print(solution([3, 5]))
print(solution([55, 80]))

8
135

## 두수의 차

In [22]:
def solution(num1, num2):
    answer = num1 - num2
    return answer

print(solution(3, 5))
print(solution(138, 38))

-2
100

## 몫구하기

In [23]:
def solution(num1, num2):
    answer = num1 // num2
    return answer

print(solution(20, 3))
print(solution(184, 5))

6
36

## 나머지구하기

In [14]:
def solution(num1, num2):
    answer = num1 % num2
    return answer

print(solution(3, 2))
print(solution(10, 5))

1
0