# 자료구조
> 여러가지 자료구조가 가지고 있는 메소드(함수) 알아보기

In [1]:
print(dir('hello'))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

## 문자열 메소드

In [2]:
a = 'hello my name is yang'

In [3]:
print(a)

hello my name is yang

In [4]:
a[0] = 'H'
# str은 immutable(수정이 불가능)

TypeError: 'str' object does not support item assignment

In [5]:
# 데이터 안의 첫번재 문자를 대문자로 바꿈
a.capitalize()
# . : a데이터 안의 를 의미
# capitalize()는 함수이므로 return 만 한 거싱고 a의 데이터가 바뀌는 것은 아님

'Hello my name is yang'

In [6]:
a = a.capitalize()
print(a)

Hello my name is yang

In [7]:
# 문자열의 각 단어의 시작문자를 대문자로 바꿔줌
a.title()

'Hello My Name Is Yang'

In [9]:
# 모든 문자를 소문자로 바꿈
a.lower()

'hello my name is yang'

In [10]:
# 모든 문자를 대문자로 바꿈
a. upper()

'HELLO MY NAME IS YANG'

In [12]:
# `'a'.join(변수이름)` : 변수 안의 데이터들 사이에 a를 넣어 합친다
my_list = ['my', 'name', 'is']
'!'.join(my_list)

'my!name!is'

In [13]:
'?'.join('배고프다')
# 위의 my_list와 '배고프다'모두 시퀀스 데이터

'배?고?프?다'

In [16]:
# 좌우의 여백을 지워줌 
a = '          helllo     \n'
a.strip()
# `a.strip(char=' ')` 가 기본값으로 들어가있음

'helllo'

In [17]:
# `변수이름.strip('a')` : 변수 데이터 안의 문자 a를 지워주는 함수
a = '!!!!!!!!!!hello??????????'
a.strip('!')

'hello??????????'

In [19]:
a = '----------hello--------'
a.lstrip('-') # 왼쪽의 문자 '-'를 제거
a.rstrip('-') # 오른쪽의 문자 '-'를 제거

'----------hello'

In [22]:
a = 'wooooooooow'
a.replace('w', 'a') # 데이터안의 'w'를 'a'로 비꿈
a.replace('o', '!', 3) # 데이터 안의 문자 'o' 중 처음부터 3개만 '!'로 바꿈

'w!!!oooooow'

In [26]:
# 문자의 인덱스 번호 출력
a = 'apple'
a.find('a') # => 0
a.find('l') # => 3
a.find('p') # => 1, 문자가 중복될 경우 첫번째 데이터의 인덱스 번호만 출력
a.find('z') # => -1, 없는 문자를 찾을 경우 -1 출력(없음을 의미)

-1

In [32]:
a = 'apple'
a.index('a')
a.index('l')
a.index('p')
a.index('z')
# `find()`와 같은 의미의 함수지만 없는 문자를 찾으면 에러남

ValueError: substring not found

In [33]:
a = 'my name is yang'
a.split() # 띄어쓰기를 기준으로 잘라서 출력, 결과를 리스트로 만들어줌

['my', 'name', 'is', 'yang']

In [36]:
a = 'my!name!is?yang'
a.split('!') # 느낌표를 기준으로 잘라서 출력

['my', 'name', 'is?yang']

In [37]:
a = 'woooooooow'
a.count('o') # 'o'의 개수를 셈

8

## 리스트 메소드

In [44]:
numbers = [ 2, 6, 1, 4, 8, 3, 2, 8]

In [45]:
numbers.append(10) # 뒤에 데이터 추가
print(numbers)

[2, 6, 1, 4, 8, 3, 2, 8, 10]

In [46]:
a = [99, 100]

In [48]:
numbers.extend(a) # 여러개 데이터를 추가, numbers + a
print(numbers)

[2, 6, 1, 4, 8, 3, 2, 8, 10, 99, 100, 99, 100]

In [51]:
# insert(위치, 값) : # 리스트에 위치를 지정해서 넣을 때
numbers.insert(3, 5) 
print(numbers)

[2, 6, 1, 5, 5, 4, 8, 3, 2, 8, 10, 99, 100, 99, 100]

In [54]:
# 값 제거, 해당 값이 여러개일 경우 첫번째에 위치해있는 값 제거
# 여러개일 경우 여러번 실행하면 제거 가능, 값이 더이상 없으면 에러가 남
numbers.remove(8)
print(numbers)

ValueError: list.remove(x): x not in list

In [55]:
numbers.pop() # 맨 마지막 값 제거
print(numbers)

[2, 6, 1, 5, 5, 4, 3, 2, 10, 99, 100, 99]

In [57]:
# stack : 후입선출, q : 선입선출
numbers.pop(0) # 리스트의 첫번째 값 제거
print(numbers)

[1, 5, 5, 4, 3, 2, 10, 99, 100, 99]

In [58]:
numbers.pop(3)
print(numbers)

[1, 5, 5, 3, 2, 10, 99, 100, 99]

In [59]:
numbers.sort() # 오름차순 정렬
print(numbers)

[1, 2, 3, 5, 5, 10, 99, 99, 100]

In [61]:
numbers.sort(reverse=True) # 내림차순 정렬, 원본을 바꿈
print(numbers)

[100, 99, 99, 10, 5, 5, 3, 2, 1]

In [65]:
# sorted는 원본을 바꾸지 않고 결과만 출력
a = [5, 3, 2, 7, 8, 1]
print(sorted(a))
print(a)

[1, 2, 3, 5, 7, 8]
[5, 3, 2, 7, 8, 1]

In [67]:
my_list = ['a', '하', '나', 'b', 'z']
my_list.sort()
print(my_list)

['a', 'b', 'z', '나', '하']

In [69]:
print(numbers)
numbers.reverse() # 데이터의 순서를 뒤집음, 정렬이 되어있지 않아도 순서롤 뒤집어서 출력
print(numbers)

[100, 99, 99, 10, 5, 5, 3, 2, 1]
[1, 2, 3, 5, 5, 10, 99, 99, 100]

In [70]:
numbers.count(99)

2

### list copy

In [71]:
origin_list = [1, 2, 3]
copy_list = origin_list

In [72]:
print(origin_list)
print(copy_list)

[1, 2, 3]
[1, 2, 3]

In [73]:
copy_list[0] = 100
print(origin_list)
print(copy_list)

[100, 2, 3]
[100, 2, 3]

In [75]:
origin_list = [1, 2, 3]
copy_list = origin_list[:] # [:]의 의미는 슬라이싱을 해달라는 의미, 처음부터 끝까지 

copy_list[0] = 100

print(origin_list)
print(copy_list)

[1, 2, 3]
[100, 2, 3]

In [78]:
o_l = [1, 2, [10, 11]]
c_l = o_l[:] # 이중 리스트의 경우 슬라이싱을 한번 더 사용할 수 없음

c_l[0] = 100
c_l[2][0] = -10

print(o_l)
print(c_l)

[1, 2, [10, -10]]
[100, 2, [10, -10]]

In [79]:
# import 추가하다
import copy

o_l = [1, 2, [10, 11]]
c_l = copy.deepcopy(o_l) # copy안의 deepcopy 사용

c_l[0] = 100
c_l[2][1] = -11

print(o_l)
print(c_l)

[1, 2, [10, 11]]
[100, 2, [10, -11]]

### list comprehension

In [80]:
numbers = list(range(1, 11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [82]:
result = []

for number in numbers:
    temp = number ** 3
    result.append(temp)

print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [84]:
result = [number ** 3 for number in numbers]
# result = [number1 ** 3, number2 * 3, number3 ** 3, ...]
print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [86]:
# 짝수만 고르기
numbers = list(range(1, 31))
result = []

for number in numbers:
    if number % 2 == 0:
        result.append(number)

print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [90]:
numbers = list(range(1, 31))
result = [number * 2 for number in numbers if number % 2 == 0]
print(result)
# for문 -> if문 -> 결과값(number) 출력

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60]

In [115]:
# 연습문제 - 모음제거
words = 'my name is hong'

# => my nm s hng

In [126]:
# 1. for/if문 
a = ['a', 'e', 'i', 'o', 'u']
result = []

for word in words:
    if word not in a:
        result.append(word)
        ''.join(result)
        
print(result)

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']

In [130]:
# sol1
vowels = ['a', 'e', 'i', 'o', 'u']
result = []

for char in words:
    # 모음인 경우
    if char in vowels:
        pass
    # 자음인 경우
    else:
        result.append(char)

print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [134]:
# sol2
vowels = ['a', 'e', 'i', 'o', 'u']
result = []

for char in words:
    # 모음이 아닌 경우(자음인 경우)
    if char not in vowels:
        result.append(char)
        
print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [137]:
# sol3
# vowels = 'aeiou'
result = []

for char in words:
    if char not in 'aeiou':
        result.append(char)

print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [129]:
# 2. list comprehension
a = ['a', 'e', 'i', 'o', 'u']
result = [word for word in words if word not in a]
print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [140]:
# sol
vowels = 'aeiou'
result = [char for char in words if char not in vowels]
print(result)
print(''.join(result))

# `''.join([char for char in words if char not in vowels])` 로 줄일 수 있지만 해석만 할 줄 알면 됨

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [142]:
# 3. replace 메소드 - 모음에 해당하는 문자를 ''으로 바꾸기
vowels = 'aeiou'

for char in vowels:
    words = words.replace(char, '') # words 안의 char 데이터들을 ''으로 바꿔주세요, 원본이 수정되지 않으므로 재할당해야함

print(words)

my nm s hng

## dictionary 메소드

In [1]:
info = {
    'name': 'yang',
    'location': 'incheon',
    'age': 25,
    'phone_book': {
        'kim': '010-1234-1234',
        'park': '010-4321-4321'
    },
    'models': ['iphone', 'ipad'],
}

In [5]:
print(info['name'])
print(info['age'])
print(info['phone_book']['park'])
print(info['models'][1]) #리스트기 때문에 인덱스 접근을 해야함, 숫자를 입력해야함

yang
25
010-4321-4321
ipad

In [6]:
info['name'] = 'lee'
print(info['name'])

lee

In [7]:
info.update(name='choi') # 특정한 key에 value 값을 바꾸는 메소드
print(info)

{'name': 'choi', 'location': 'incheon', 'age': 25, 'phone_book': {'kim': '010-1234-1234', 'park': '010-4321-4321'}, 'models': ['iphone', 'ipad']}

In [8]:
info.pop('location') # 원하는 key-value를 제거, dictionary는 순서가 없기 때문에 리스트 메소드와 다른 메소드
print(info)

{'name': 'choi', 'age': 25, 'phone_book': {'kim': '010-1234-1234', 'park': '010-4321-4321'}, 'models': ['iphone', 'ipad']}

In [23]:
print(info.get('name')) # key에 해당하는 value값을 가져옴
print(info['name'])

choi
choi

In [27]:
#연습문제
blood_type = ['A', 'B', 'A', 'B', 'O', 'AB', 'A', 'A', 'AB']

In [28]:
blood_type.count('A')
type = dict.fromkeys(blood_type) # dictionary를 만들어주는 함수(내가 찾은거)
print(type)

{'A': None, 'B': None, 'O': None, 'AB': None}

In [29]:
result = {
    'A': 0,
    'B': 0,
    'AB': 0,
    'O': 0
}

for blood in blood_type:
    # result['A']
    result[blood] += 1

print(result)

{'A': 4, 'B': 2, 'AB': 2, 'O': 1}

In [30]:
locations = ['서울', '서울', '대전', '부산', '대구', 'LA', '파리']
result = {}

for location in locations:
    # if location이 result key 목록에 있다면? => 기존데이터에 +1 => 없다면 => 새로운 키를 등록하고 기본값을 1로 지정
    if location in result.keys():
        result[location] += 1
    else:
        result[location] = 1

print(result)

{'서울': 2, '대전': 1, '부산': 1, '대구': 1, 'LA': 1, '파리': 1}

In [31]:
locations = ['서울', '서울', '대전', '부산', '대구', 'LA', '파리']
result = {}

for location in locations:
    if result.get(location): # none은 false
        result[location] += 1
    else:
        result[location] = 1

print(result)

{'서울': 2, '대전': 1, '부산': 1, '대구': 1, 'LA': 1, '파리': 1}

### dict comprehension

In [33]:
# {1: 1, 2: 8, 3: 27, ..., 10: 1000}

result = {}
numbers = range(1, 11)

for number in numbers:
    result[number] = number ** 3

print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [34]:
result = {number: number ** 3 for number in range(1, 11)}
print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [35]:
# dust 딕셔너리 중 미세먼지 농도가 30이하인 key-value만 출력
dust = {
    '서울': 50,
    '인천': 100,
    '수원': 30,
    '부산': 0,
}

In [37]:
# 1. for문
result = {}

for key, value in dust.items():
    # key, value = item = ('서울', 50)
    if value <= 30:
        result[key] = value

print(result)

{'수원': 30, '부산': 0}

In [40]:
# 2. comprehension
result = {k: '매우좋음' for k, v in dust.items() if v <= 30}
print(result)

{'수원': '매우좋음', '부산': '매우좋음'}

## Set 메소드

In [41]:
fruits = {'apple', 'banana', 'melon'}

In [42]:
print(fruits) # set는 순서가 없기 때문에 순서를 랜덤으로 출력(시퀀드가 아님)

{'banana', 'apple', 'melon'}

In [43]:
fruits.add('watermelon') # 데이터 추가하기
print(fruits)

{'banana', 'watermelon', 'apple', 'melon'}

In [44]:
fruits.update({'orange', 'grape'}) # 여러개의 데이터 추가하기
print(fruits)

{'banana', 'watermelon', 'apple', 'melon', 'orange', 'grape'}

In [45]:
fruits.remove('apple') # 데이터 제거하기
print(fruits)

{'banana', 'watermelon', 'melon', 'orange', 'grape'}

In [47]:
fruits.pop() # 데이터가 랜덤하게 제거됨
print(fruits)

{'melon', 'orange', 'grape'}

## map, filter, zip

### map
- `map(function, iterable)`
    - `iterable` : 시퀀스 타입, 반복가능한 객체
- 일괄처리

In [48]:
numbers = [1, 2, 3, 4, 5]
# => ['1', '2 ',' 3', '4', '5'], 리스트 안의 데이터들을 문자형으로 만들어주기

result = []
for number in numbers:
    result.append(str(number))

print(result)

['1', '2', '3', '4', '5']

In [52]:
# 함수를 실행하지 않고 함수를 알려주는 것이기 때문에 str()이 아닌 str 입력
# map은 계산을 나중에 하기 때문에 결과가 바로 안나오기 때문에 리스트로 바꿔줘야함(그러면 바로 나옴)

# result = list(map(str, numbers))
result = map(str, numbers)
print(result)
print(list(result))

<map object at 0x000001373273C400>
['1', '2', '3', '4', '5']

In [53]:
numbers = [1, 2, 3, 4, 5]
# => [1, 8, 27, 64, 125]

result = []
for number in numbers:
    result.append(number ** 3)

print(result)

[1, 8, 27, 64, 125]

In [55]:
# 파이썬 안에 있는 함수가 아닌 다른 계산을 하려면 함수를 만들어야함
def cube(x):
    return x ** 3
    
# result = list(map(cube, numbers))
result = map(cube, numbers)
print(result)
print(list(result))

<map object at 0x0000013732740280>
[1, 8, 27, 64, 125]

In [57]:
test_input = '1 3 5 7 9'

# 1. 띄어쓰기 기준으로 나눈다.
test_input.split()
# 2. 각 글자를 숫자로 바꾼다.
map(int, test_input.split()) # test_input.split() 의 결과를 그대로 활용
# 3. 리스트에 저장한다.
result = list(map(int, test_input.split()))

print(result)

[1, 3, 5, 7, 9]

### filter
- `filter(function, iterable)`
- funtion의 결과에 따라 필터링해서 골라냄

In [59]:
# 홀수 골라내기
numbers = [1, 2, 3, 4, 5, 6]

result = []
for number in numbers:
    if number % 2 == 1:
        result.append(number)

print(result)

[1, 3, 5]

In [58]:
def is_odd(x):
    return x % 2

In [64]:
result = filter(is_odd, numbers)
print(result)
print(list(result))

<filter object at 0x0000013732740730>
[1, 3, 5]

In [63]:
# map
result = map(is_odd, numbers)
print(result)
print(list(result))

<map object at 0x000001373273F0A0>
[1, 0, 1, 0, 1, 0]

### zip
- `zip(iterable, iterable)` : 리스트의 같은 인덱스끼리 묶어서 합치는 함수
- 각 리스트의 수가 맞지 않으면 가장 짧은 리스트를 기준으로 합친다.

In [65]:
a = [1, 2, 3]
b = [100, 200, 300]

result = zip(a, b)
print(result)
print(list(result))

<zip object at 0x0000013732C033C0>
[(1, 100), (2, 200), (3, 300)]